.jumbotron {
	padding-top: 7rem;
	background-color: #e2edff;
}

.my-hr {
	margin-left: 4rem;
	margin-right: 4rem;
}

section {
	padding-top: 5rem;
}

.card {
	margin: 0.5rem;
}
table {
	border-collapse: collapse;
	padding: 15px;
}

tr {
	border-bottom: 1pt solid black;
	padding: 15px;
}
